:root {
  --main-text-color: #333;
  --main-bg-color: #fffefb;
  --first-accent-color: #ffdf00;
  --second-accent-color: #ffb800;
  --btn-hover-color: #ffe30b;

  --accent-gradient: linear-gradient(
    132deg,
    var(--first-accent-color) 0%,
    var(--second-accent-color) 100%
  );
}
