<section id="advantages" class="section advantages__section container">
  <h2 class="section__title">Чому ми?</h2>
  <ul class="advantages__list">
    <li class="advantages__item">
      <h3 class="advantages__item-title">Зручний графік</h3>
      <p class="advantages__item-text">
        Ми розуміємо, що кожна людина має унікальні потреби та обставини, тому
        пропонуємо гнучкий режим роботи, який враховує
        <b>індивідуальні вимоги</b> та дозволяє пристосуватися до них.
      </p>
    </li>
    <li class="advantages__item">
      <h3 class="advantages__item-title">Комфортний офіс</h3>
      <p class="advantages__item-text">
        Для співробітників є комфортні
        <b>робочі місця і зручні зони відпочинку</b>, що сприяють розслабленню
        та відновленню енергії. Ми активно створюємо комфортні умови, щоб
        працювати з задоволенням.
      </p>
    </li>
    <li class="advantages__item">
      <h3 class="advantages__item-title">Відстуні перебої електрики</h3>
      <p class="advantages__item-text">
        Попри всі складнощі воєнного часу, ми працюємо та здаємо всі проєкти
        вчасно! Використовуємо <b>Starlink</b>, тому завжди на звʼязку.
      </p>
    </li>
    <li class="advantages__item">
      <h3 class="advantages__item-title">Оперативне вирішення питань</h3>
      <p class="advantages__item-text">
        Ми швидко опрацьовуємо будь-які звернення та запити, щоб надати вам
        негайну відповідь чи якнайшвидше
        <b>забезпечити розв'язання проблеми</b>. Комфорт та добробут наших
        співробітників завжди в пріоритеті!
      </p>
    </li>
    <li class="advantages__item">
      <h3 class="advantages__item-title">Ви не спілкуєтесь з клієнтами</h3>
      <p class="advantages__item-text">
        В нашій компанії виконавцям не потрібно безпосередньо спілкуватись з
        клієнтами. Ми маємо відділ спеціалізованих менеджерів, які беруть на
        себе всі комунікації з клієнтами.
      </p>
    </li>
    <li class="advantages__item">
      <h3 class="advantages__item-title">Постійне зростання надходжень</h3>
      <p class="advantages__item-text">
        У нашій компанії ми працюємо над тим, щоб надходження
        <b>постійно зростали</b>. Наша мета — допомогти вам досягти фінансового
        успіху.
      </p>
    </li>
    <li class="advantages__item">
      <h3 class="advantages__item-title">Постійний потік клієнтів</h3>
      <p class="advantages__item-text">
        Ми пропонуємо стратегії та інструменти, які дозволять вам ефективно
        <b>просувати свої товари та послуги</b>, забезпечуючи стабільний ріст
        компанії.
      </p>
    </li>
    <li class="advantages__item">
      <h3 class="advantages__item-title">Здорове харчування в офісі</h3>
      <p class="advantages__item-text">
        Ми розуміємо, що харчування впливає на загальний стан здоров'я та
        продуктивність, тому дбаємо, щоб в офісі завжди були
        <b>корисні та безпечні продукти</b>, а також смачна питна вода високої
        якості.
      </p>
    </li>
    <li class="advantages__item">
      <h3 class="advantages__item-title">Сучасна техніка</h3>
      <p class="advantages__item-text">
        Ми забезпечуємо всіх виконавців <b>сучасною технікою від Apple</b>.
        Кожен співробітник отримує свій власний MacBook, що дозволяє працювати з
        надійним та потужним обладнанням, якісно виконувати будь-які поточні
        завдання.
      </p>
    </li>
    <li class="advantages__item">
      <h3 class="advantages__item-title">Відпочинок та розваги</h3>
      <p class="advantages__item-text">
        Ми облаштували комфортні зони відпочинку на свіжому повітрі. Окрім
        цього, в офісі є <b>PlayStation та VR-окуляри</b>, тож під час перерв
        або після робочого дня завжди можна розважитися.
      </p>
    </li>
  </ul>

  <div class="gallery">
    <ul class="gallery__list">
      <li class="gallery__item">
        <img
          src="./images/advantages/gallery1.jpg"
          alt=""
          class="gallery__img"
        />
      </li>
      <li class="gallery__item">
        <img
          src="./images/advantages/gallery2.jpg"
          alt=""
          class="gallery__img"
        />
      </li>
      <li class="gallery__item">
        <img
          src="./images/advantages/gallery3.jpg"
          alt=""
          class="gallery__img"
        />
      </li>
      <li class="gallery__item">
        <img
          src="./images/advantages/gallery4.jpg"
          alt=""
          class="gallery__img"
        />
      </li>
    </ul>
    <button class="btn__slider gallery__btn gallery__btn--left">
      <img src="./images/btn_slider/arrow_left.svg" alt="arrow_left" />
    </button>
    <button class="btn__slider gallery__btn gallery__btn--right">
      <img src="./images/btn_slider/arrow_right.svg" alt="arrow_right" />
    </button>
  </div>
</section>
