<section class="section hero__section container">
  <h1 class="hero__pretitle">Вебстудія №1 з розробки сайтів</h1>
  <h2 class="hero__title">
    <strong>
      Приєднуйтесь до нашої<br />
      IT-команди
    </strong>
  </h2>
  <p class="hero__subtitle">
    Відкрийте нові перспективи кар'єрного зростання, приєднавшись до нашої
    інноваційної IT-команди,<br />яка відкриває двері до безмежних можливостей
  </p>
  <button class="button hero__btn" type="button">Спробуй свої сили</button>
  <a class="hero__more-text" href=""
    >Дізнатися більше
    <svg
      class="hero__more-arrow"
      width="20"
      height="29"
      viewBox="0 0 20 29"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M10.056 0.499756L10.056 28.4998M10.056 28.4998L19.056 19.4998M10.056 28.4998L1.05598 19.4998"
        stroke="#333333"
        stroke-linecap="square"
        stroke-linejoin="bevel"
      />
    </svg>
  </a>
</section>
