<section class="section partners__section container">
  <h2 class="section__title">З нами працюють:</h2>
  <div class="partners__list-box">
    <ul class="partners__list">
      <li class="partners__item">
        <img src="./images/partners/toyota.svg" alt="toyota" />
      </li>
      <li class="partners__item">
        <img src="./images/partners/bravo.svg" alt="bravo" />
      </li>
      <li class="partners__item">
        <img
          src="./images/partners/bazhaemo_zdorovja.svg"
          alt="bazhaemo_zdorovja"
        />
      </li>
      <li class="partners__item">
        <img src="./images/partners/gemix.svg" alt="gemix" />
      </li>
      <li class="partners__item">
        <img src="./images/partners/csd.svg" alt="csd" />
      </li>
      <li class="partners__item">
        <img src="./images/partners/momentum.svg" alt="momentum" />
      </li>
    </ul>
    <button class="btn__slider partners__btn partners__btn--left" type="button">
      <img src="./images/btn_slider/arrow_left.svg" alt="arrow_left" />
    </button>
    <button
      class="btn__slider partners__btn partners__btn--right"
      type="button"
    >
      <img src="./images/btn_slider/arrow_right.svg" alt="arrow_right" />
    </button>
  </div>
</section>
