<section class="section container">
  <h2 class="section__title test-task__title">Перевірка тествого завдання</h2>
  <div class="test-task__box">
    <img
      class="test-task__img"
      src="./images/test_task/developers.jpg"
      alt="developers"
    />
    <article class="test-task__text">
      <p>
        Ми цінуємо ваш час та зусилля, тому намагаємося забезпечити оперативну
        відповідь на ваші тестові роботи. Наша команда керівників та
        співробітників займається перевіркою усіх робіт ВРУЧНУ перевіряє всі
        роботи, гарантуючи високу якість оцінки.
      </p>
      <p class="test-task__text-first-stage">
        На першому етапі вашу роботу перевірить керівник HR-відділу — Олена, або
        Анатолій Валерійович — керівник вебстудії Глянець.
      </p>
      <p class="test-task__text-second-stage">
        Перевірку другого етапу, в залежності від посади на яку ви претендуєте,
        буде здійснювати керівник відповідного відділу (наприклад,
        <span>керівник відділу верстки</span> у разі подання заявки на посаду
        верстальника).
      </p>
      <p class="test-task__text-third-stage">
        Ми розуміємо, як важливо для вас отримати швидку відповідь, тому
        перевіряємо ваші <span>тестові завдання</span> навіть після завершення
        робочого дня. Наша команда цінує кожного потенційного кандидата і робить
        усе можливе, щоб забезпечити ретельну оцінку ваших здібностей та швидко
        повідомити результат.
      </p>
    </article>
  </div>
</section>
