.drupal__section {
  padding-bottom: 0;
}

.drupal__title {
  margin-bottom: 50px;
}

.drupal__list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.drupal__item {
  padding: 20px 30px 30px 30px;
  border-radius: 10px;
  border: 2px solid rgba(69, 77, 82, 0.05);
  background: #fff;

  &:nth-child(2n + 1) {
    background-image: url(../images/drupal/bg1.svg);
    background-repeat: no-repeat;
    background-position: top 0 right 0;
  }

  &:nth-child(2n) {
    background-image: url(../images/drupal/bg2.svg);
    background-repeat: no-repeat;
  }
}

.drupal__item-title {
  margin: 15px 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 125%; /* 25px */
}
