.header {
  padding: 16px 0 17px 0;

  outline: 1px solid rgb(8, 0, 255);
  outline-offset: -1px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 154px;
}

.nav {
  margin-right: 115px;

  &-list {
    display: flex;
    gap: 100px;

    &__link {
      font-size: 20px;
      font-weight: 600;
      line-height: 125%; /* 25px */
    }
  }
}

.social-list {
  display: flex;
  gap: 12px;
  margin-right: 40px;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  gap: 2px;

  &__schedule {
    font-size: 16px;
    font-weight: 400;
    line-height: 125%; /* 20px */
  }

  &__tels-box {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__tel {
    font-size: 26px;
    font-weight: 700;
    line-height: 125%; /* 32.5px */
  }

  &__btn {
    &:hover {
      outline: 1px solid darkgray;
    }
  }
}
